@font-face {
  font-family: "hammersmith";
  src: local("hammersmithOne"),
  url("./font/HammersmithOne-Regular.ttf") format("truetype");
}
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  font-family: "hammersmith";
}
.App {
  text-align: center;
  
}


